@using System.Web.Optimization
@helper PageStyles()
{
    <style type="text/css">
        .table th, td {
            text-align: center;
        }
    </style>
}
@helper PageScripts()
{
    @Scripts.Render("~/bundles/jqueryvalidate", "~/bundles/jqueryform", "~/bundles/rabbitAdmin")
    <script src="~/Modules/Rabbit.Blogs/Scripts/table.js"></script>
    <script src="~/Modules/Rabbit.Blogs/Scripts/common.js"></script>
    <script type="text/javascript">
        function deleteComments(id, successFn) {
            $.rabbit().modalWarning({
                title: "提示",
                body: "此操作无法还原，确定继续吗？",
                onOk: function() {
                    $.ajax({
                        url: '@Url.HttpRouteUrl("Rabbit.Blogs_CommentsApi", new {id = "1id1"})'.replace(/1id1/, id),
                        type: 'DELETE',
                        success: successFn,
                        error: function () {
                            $.rabbit().modalDanger({ title: "提示", body: "删除失败，请联系管理员！" });
                        }
                    });
                }
            });
        }
        //table
        var table = (function() {
            return $(".box").table({
                dataSource: '@Url.Action("DataSource", new { postId = ViewBag.PostId })',
                newTr: function(item, controller) {
                    var managerTd = '<button type="button" class="btn btn-warning btn-sm">删除</button>';

                    var tr = $("<tr />")
                        .data({ id: item.Id, model: item })
                        .append($("<td />").append($("<input />", { type: "checkbox" ,value:item.Id})))
                        .append($("<td />").append(item.PostTitle))
                        .append($("<td />").append(item.NickName))
                        .append($("<td />").append($.formaterJSONDate(item.CreateTime, "yyyy-MM-dd HH:mm:ss")))
                        .append($("<td />").append(managerTd));

                    tr.find(".btn-warning").click(function () {
                        var btn = $(this);
                        var tr = btn.parents("tr:first");
                        var id = tr.data("id");
                        deleteComments(id, function () {
                            btn.parents("tr:first").fadeOut(function () {
                                $(this).remove();
                                if (controller.find("tbody tr").length === 0) {
                                    controller.load();
                                }
                            });
                        });
                    });

                    tr.find("td:gt(0)").click(function() {
                        var checkbox = tr.find("input");
                        var checkboxElement = checkbox[0];
                        checkboxElement.checked = !checkboxElement.checked;
                    });

                    return tr;
                }
            });
        })();

        table.find("thead input").change(function() {
            var checked = this.checked;
            table.find("tbody input").each(function() {
                this.checked = checked;
            });
        });

        $(".box-tools button").click(function () {
            var ids = '';
            table.find("tbody input:checked").each(function() {
                ids += $(this).val()+",";
            });

            ids = ids.substring(0, ids.length - 1);
            deleteComments(ids, function () {
                table.load();
            });
        });
    </script>
}
@{
    Layout.Styles = PageStyles();
    Layout.Scripts = PageScripts();
    Layout.Title = "评论管理";
}
<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">评论管理</h3>
        <div class="box-tools">
            <button class="btn btn-danger">批量删除</button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <thead>
            <tr>
                <th><input type="checkbox" /></th>
                <th>文章标题</th>
                <th>昵称</th>
                <th>评论时间</th>
                <th>操作</th>
            </tr>
            </thead><tbody>
            </tbody>
        </table>
    </div><!-- /.box-body -->
    <div class="overlay" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right"></ul>
    </div>
</div>